In [ ]:
n = 5
sum = 0
for i in range(n):
    sum = i*n
    a = sum * i
    print(a)

In [ ]:
data = [1,2,3,4,5,6,7,8,9,10,12,14,16,21,20,19]
even = list(filter(lambda x:x % 2 == 0,data))

print(even)

In [ ]:
n = [1,2,3,4,5]

for i in n:
    a = i*i
    print(a,end = " ")

    
for i in n:
    a = i**3
    print(a,end = " ")

In [ ]:
greet = "hello world"
greet.upper()

In [ ]:
greet = ["hello", "world"]

for i in greet:
    a= i.upper()
    print(a,end = " ")

In [ ]:
data = "welcome to 'python'"
print(data[13])

In [ ]:
a = "Hritik"

for i in str(a):
    print(i.upper())

In [ ]:

for i in str(a):
    print(i.lower())

In [ ]:
data = str(input("enter char"))
find = str(input("enter char"))

if find in data:
    print(f"{find} available")
else:
    print(f"{find} not available")

In [ ]:
def bill_mrp (price,tax,quantity):
    pw_qua = price*quantity
    gst_amount = pw_qua*tax/100
    total_amount = (pw_qua + gst_amount)
    return  total_amount

print(bill_mrp(2000,8,20))

# total = bill_mrp(2000,8,20)
# print(total)

In [ ]:
class customers:
    def __init__(self):
        print("Borivali")
    def info(self,name,age):
        print(f"Name :{name}")
        print(f"Age :{age}")


customer_obj = customers()
customer_obj.info("hritik",23)

In [ ]:
class Bank:
    def Amount(self, amt):
        self.amt = amt 
        print("Amount:", amt)

    def credit_amt(self, cre_amt):
        self.cre_amt1 = cre_amt
        print("Amount Credited:", cre_amt)

    def withdrawal(self, withd):
        self.withd = withd
        print("Withdrawal Amount:", withd)

    def aft_wid(self):
        total = (self.amt + self.cre_amt1) - self.withd
        print("Balance After Withdrawal:", total)


a = Bank()
a.Amount(5000)
a.credit_amt(2000)
a.withdrawal(500)
a.aft_wid()

In [ ]:
class Bank:
    def __init__(self,amount,credit,withdrawal):
        self.amount = amount
        self.credit = credit
        self.withdrawal = withdrawal
    def Amount1(self):
        print("Amount:", self.amount)

    def credit_amt1(self):
        print("Amount Credited:", self.credit)

    def withdrawal1(self):
        print("Withdrawal Amount:", self.withdrawal)

    def aft_wid(self):
        total = (self.amount + self.credit) - self.withdrawal
        print("Balance After Withdrawal:", total)


a = Bank(5000,2000,500)
a.Amount1()
a.credit_amt1()
a.withdrawal1()
a.aft_wid()

In [ ]:
amount = 2000
wid = 500
for i in amount:
    for a in wid:
        afte_wid = amount - wid
        afte_wid -= wid
        print(afte_wid)

In [ ]:
class customer:
    def info(n):
        print("Customer Name: ",n)
class Bank(customer):
    def bank_AC(acc):
        print("Account No:",acc)

class Creditc1(Bank):
    def card1(limit1):
        global Limit1
        Limit1 = limit1
        print("Credit card of HDFC",limit1)

class Creditc2(Creditc1):
    def card2(limit2):
        global Limit2
        Limit2 = limit2
        print("Credit card of SBI",limit2)

class Credit_limit(Creditc2):
    def All_info():
        print("Total Limit =",Limit1 +Limit2)

a = Credit_limit
a.info(input("Enter name"))
a.bank_AC(input("Enter Acc No"))
a.card1(int(input("enter limit1")))
a.card2(int(input("enter limit2")))
a.All_info()

In [ ]:
class customer:
    def info(id,n):
        print("Customer ID :",id,"Customer Name: ",n)

class Bank(customer):
    def bank_AC(card_type,card_number):
        print("Card Type:",card_type,"Card Number:",card_number)

class Creditc1(Bank):
    def card1(tran1,limit1):
        global Limit1
        Limit1 = limit1
        print("Transaction ID:",tran1," Amount:",limit1)
    def card2(tran2,limit2):
        global Limit2
        Limit2 = limit2
        print("Transaction ID:",tran2,"Amount:",limit2)

class Bank1(Creditc1):
    def bank_AC1(card_type1,card_number1):
        print("Card Type:",card_type1,"Card Number:",card_number1)
    def card3(tran3,limit3):
        global Limit3
        Limit3 = limit3
        print("Transaction ID:",tran3,"Amount:",limit3)

class Credit_limit(Bank1):
    def All_info():
        print("Total Transaction Amount:",Limit1+Limit2+Limit3)

a = Credit_limit
a.info(input("Customer id"),input("Enter name"))
a.bank_AC(input("Enter card type"),input("Enter card No"))
a.card1(input("Enter Transaction ID1:"),int(input("enter limit1")))
a.card2(input("Enter Transaction ID2:"),int(input("enter limit2")))
a.bank_AC1(input("Enter card type"),input("Enter card No"))
a.card3(input("Enter Transaction ID3:"),int(input("enter limit3")))
a.All_info()

In [ ]:
class customer:
    def info(id,n):
        print("Customer ID :",id,"Customer Name: ",n)

class Bank(customer):
    def bank_AC(card_type,card_number):
        print("Card Type:",card_type,"Card Number:",card_number)

class Creditc1(Bank):
    def card1(tran,limit):
        global Limit1
        Limit1 = limit
        print("Transaction ID:",tran," Amount:",limit)
    def card2(tran,limit):
        global Limit2
        Limit2 = limit
        print("Transaction ID:",tran,"Amount:",limit)

class Bank1(Creditc1):
    def bank_AC1(card_type1,card_number1):
        print("Card Type:",card_type1,"Card Number:",card_number1)
    def card3(tran,limit):
        global Limit3
        Limit3 = limit
        print("Transaction ID:",tran,"Amount:",limit)

class Credit_limit(Bank1):
    def All_info():
        print("Total Transaction Amount:",Limit1+Limit2+Limit3)

a = Credit_limit
a.info(input("Customer id"),input("Enter name"))
a.bank_AC(input("Enter card type"),input("Enter card No"))
a.card1(input("Enter Transaction ID1:"),int(input("enter limit1")))
a.card2(input("Enter Transaction ID2:"),int(input("enter limit2")))
a.bank_AC1(input("Enter card type2"),input("Enter card No2"))
a.card3()
a.All_info()

In [ ]:
class customer:
    def info(id,n):
        print("Customer ID :",id,"Customer Name: ",n)

class Bank(customer):
    def bank_AC(card_type,card_number):
        print("Card Type:",card_type,"Card Number:",card_number)
        
Limit1 = 0
class Creditc1(Bank):
    def card1(tran1,limit1):
        global Limit1
        Limit1 += limit1
        print("Transaction ID:",tran1," Amount:",limit1)

class Bank1(Creditc1):
    def bank_AC1(card_type1,card_number1):
        print("Card Type:",card_type1,"Card Number:",card_number1)

class Credit_limit(Bank1):
    def All_info():
        print("Total Transaction Amount:",Limit1)


a = Credit_limit
a.info(123,"Hritik")
a.bank_AC("Visa",880567840)
a.card1("T001",6000)
a.bank_AC1("Amex",7890456738)
a.All_info()
a.card1("T002",2000)
a.All_info()
a.card1("T003",7000)
a.All_info()
a.card1("T004",55000)
a.All_info()
a.card1("T005",6000)
a.All_info()

In [ ]:

class Animal():
    def sound():
        pass
class dog(Animal):
    def sound():
        print("Baw Baw")

class cat(Animal):
    def sound():
        print("Meow") 


for Animal in (dog,cat):
    Animal.sound()

    
a = dog
a.sound() 
b = cat
b.sound()

In [ ]:
# Write a program to check whether a number is prime number or not.
n = 10
if n%n ==0 and n%1 ==0 and n%2 != 0:
    print("prime")
else:
    print("not prime")

In [ ]:
# matching digit
import re
text = "my number is 937-030-361-4"
pattern = r"\d+"

match1 = re.findall(pattern,text)
print(match1)

In [ ]:
# replace or hide match value
import re
text = "my number is 937-030-361-4"
pattern = r"\d+"

match1 = re.sub(pattern,"a-b-c",text)
print(match1)

In [ ]:
text = "contact : info@codewithhritik.com"

pattern = r"(\w+)@([\w.]+)"

match = re.search(pattern,text)

if match:
    username = match.group(1)
    domain = match.group(2)
    print(f"Username:{username}   Domain:{domain}")

In [ ]:
text = '''atripathi27@gmail.com

atulkarki1991@gmail.com

bishnuroy72@gmail.com

bpnkesharwani@gmail.com

chimanchandra23@gmail.com

daljeet.kalsi1989@gmail.com

dameet6@gmail.com

deepakjh69@gmail.com

deepakvarma891@gmail.com

deeptendra12@gmail.com

deshbandhusaini51@gmail.com

dhirendr091@gmail.com

dpkshrm1992@gmail.com

edgarjrojasl@gmail.com,

eenishoda@gmail.com,

electronix84@gmail.com

erhakkaya@gma'''

emails = re.findall(r"[\w+]@([\w.]+",text)

for i in emails:
    print(i)

In [ ]:
pip install requests beautifulsoup4

In [2]:
# step 1

# import libraries
import requests
from bs4 import BeautifulSoup
import re
import csv

In [3]:
# step 2
# https://books.toscrape.com/

url = "https://books.toscrape.com/"
response = requests.get(url)

# check request

if response.status_code !=200:
    print("failed to fetch page")
    exit()

In [4]:
# step 3 parse the html

soup = BeautifulSoup(response.text,"html.parser")

In [5]:
# step 4 extract book title and price

books = soup.find_all("article",class_="product_pod")

data =[]

for book in books:
    # get book title
    title = book.find("h3").find("a")["title"]
    price_text = book.find("p",class_ ="price_color").text
    price_match = re.search(r"£(\d+.\d{2})",price_text)
    price = price_match.group(1) if price_match else "N/A"

    data.append([title,price])

# print(data)

for book in data:
    print(book)

['A Light in the Attic', '51.77']
['Tipping the Velvet', '53.74']
['Soumission', '50.10']
['Sharp Objects', '47.82']
['Sapiens: A Brief History of Humankind', '54.23']
['The Requiem Red', '22.65']
['The Dirty Little Secrets of Getting Your Dream Job', '33.34']
['The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull', '17.93']
['The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics', '22.60']
['The Black Maria', '52.15']
['Starving Hearts (Triangular Trade Trilogy, #1)', '13.99']
["Shakespeare's Sonnets", '20.66']
['Set Me Free', '17.46']
["Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)", '52.29']
['Rip it Up and Start Again', '35.02']
['Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991', '57.25']
['Olio', '23.88']
['Mesaerion: The Best Science Fiction Stories 1800-1849', '37.59']
['Libertarianism for Beginners', '51.33']
["It's Only the Himalayas", '45.17']

In [11]:
# save to csv

with open("data_books.csv","w",newline="", encoding= "utf-8") as file:
    writer = csv.writer(file)
    writer.writerow(["Title","Price (₹)"]) # header
    writer.writerows(data)

print("data save done ... (y)")

data save done ... (y)